@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <span>Bienvenido, @context.User.Identity?.Name!</span>
                        <button class="btn btn-link" @onclick="HandleLogout">Cerrar Sesión</button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/">Iniciar Sesión</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
            <article class="content px-4">
                <AuthorizeView>
                    <Authorized>
                        @Body
                    </Authorized>
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeView>
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

